## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import config_copy
import numpy as np

# Import API key
from config_copy import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [37]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_CSV/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
0,0,Port Elizabeth,-33.9180,25.5701,61.09,scattered clouds,94,40,10.36,ZA
1,1,Hobart,-42.8794,147.3294,57.02,broken clouds,88,75,9.22,AU
2,2,Wilmington,34.2257,-77.9447,77.95,clear sky,72,1,8.05,US
3,3,Busselton,-33.6500,115.3333,44.10,clear sky,86,0,10.31,AU
4,4,Uruguaiana,-29.7547,-57.0883,64.33,light rain,88,75,17.27,BR

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the Minimum temperature you would like for your trip?"))
max_temp = float(input("What is the Maximum temperature you would like for your trip?"))

What is the Minimum temperature you would like for your trip?60
What is the Maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
0,0,Port Elizabeth,-33.9180,25.5701,61.09,scattered clouds,94,40,10.36,ZA
2,2,Wilmington,34.2257,-77.9447,77.95,clear sky,72,1,8.05,US
4,4,Uruguaiana,-29.7547,-57.0883,64.33,light rain,88,75,17.27,BR
8,8,Brisbane,-27.4679,153.0281,67.15,moderate rain,87,75,1.99,AU
9,9,Albany,42.6001,-73.9662,69.31,broken clouds,83,61,2.55,US
10,10,Hilo,19.7297,-155.0900,80.33,light rain,83,90,9.22,US
12,12,Sao Filipe,14.8961,-24.4956,79.65,clear sky,68,3,12.35,CV
14,14,Banda Aceh,5.5577,95.3222,79.79,overcast clouds,79,100,15.84,ID
15,15,Cape Town,-33.9258,18.4232,61.27,moderate rain,86,75,5.01,ZA
16,16,Nishihara,26.1842,127.7558,80.65,scattered clouds,81,40,5.75,JP

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                421
City                   421
Lat                    421
Lng                    421
Max Temp               421
Current Description    421
Humidity               421
Cloudiness             421
Wind Speed             421
Country                415
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
np.where(pd.isnull(preferred_cities_df))
[preferred_cities_df.iloc[i,j] for i,j in zip(*np.where(pd.isnull(preferred_cities_df)))]

[nan, nan, nan, nan, nan, nan]

In [7]:
preferred_cities2_df = preferred_cities_df.dropna()
preferred_cities2_df

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
0,0,Port Elizabeth,-33.9180,25.5701,61.09,scattered clouds,94,40,10.36,ZA
2,2,Wilmington,34.2257,-77.9447,77.95,clear sky,72,1,8.05,US
4,4,Uruguaiana,-29.7547,-57.0883,64.33,light rain,88,75,17.27,BR
8,8,Brisbane,-27.4679,153.0281,67.15,moderate rain,87,75,1.99,AU
9,9,Albany,42.6001,-73.9662,69.31,broken clouds,83,61,2.55,US
...,...,...,...,...,...,...,...,...,...,...
705,705,Kalabo,-14.9700,22.6814,68.72,clear sky,20,4,2.28,ZM
709,709,Port-Gentil,-0.7193,8.7815,78.76,moderate rain,89,90,9.22,GA
711,711,Alta Gracia,-31.6529,-64.4283,75.88,clear sky,53,4,8.75,AR
712,712,Pisco,-13.7000,-76.2167,64.45,clear sky,77,0,19.57,PE
714,714,Samana,19.2056,-69.3369,82.62,light rain,78,75,4.61,DO

In [8]:
preferred_cities2_df.count()

City_ID                415
City                   415
Lat                    415
Lng                    415
Max Temp               415
Current Description    415
Humidity               415
Cloudiness             415
Wind Speed             415
Country                415
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities2_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Port Elizabeth,ZA,61.09,scattered clouds,-33.9180,25.5701,
2,Wilmington,US,77.95,clear sky,34.2257,-77.9447,
4,Uruguaiana,BR,64.33,light rain,-29.7547,-57.0883,
8,Brisbane,AU,67.15,moderate rain,-27.4679,153.0281,
9,Albany,US,69.31,broken clouds,42.6001,-73.9662,
10,Hilo,US,80.33,light rain,19.7297,-155.0900,
12,Sao Filipe,CV,79.65,clear sky,14.8961,-24.4956,
14,Banda Aceh,ID,79.79,overcast clouds,5.5577,95.3222,
15,Cape Town,ZA,61.27,moderate rain,-33.9258,18.4232,
16,Nishihara,JP,80.65,scattered clouds,26.1842,127.7558,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Port Elizabeth,ZA,61.09,scattered clouds,-33.9180,25.5701,39 On Nile Guest House
2,Wilmington,US,77.95,clear sky,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."
4,Uruguaiana,BR,64.33,light rain,-29.7547,-57.0883,Fares Turis Hotel
8,Brisbane,AU,67.15,moderate rain,-27.4679,153.0281,Royal On The Park Brisbane
9,Albany,US,69.31,broken clouds,42.6001,-73.9662,
10,Hilo,US,80.33,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
12,Sao Filipe,CV,79.65,clear sky,14.8961,-24.4956,Hotel Xaguate
14,Banda Aceh,ID,79.79,overcast clouds,5.5577,95.3222,Sulthan Hotel International
15,Cape Town,ZA,61.27,moderate rain,-33.9258,18.4232,Southern Sun Waterfront Cape Town
16,Nishihara,JP,80.65,scattered clouds,26.1842,127.7558,Minshuku Agaihama

In [30]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!=""]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Port Elizabeth,ZA,61.09,scattered clouds,-33.9180,25.5701,39 On Nile Guest House
2,Wilmington,US,77.95,clear sky,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."
4,Uruguaiana,BR,64.33,light rain,-29.7547,-57.0883,Fares Turis Hotel
8,Brisbane,AU,67.15,moderate rain,-27.4679,153.0281,Royal On The Park Brisbane
10,Hilo,US,80.33,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
...,...,...,...,...,...,...,...
705,Kalabo,ZM,68.72,clear sky,-14.9700,22.6814,Sikakubete Guest House Kalabo Town Council
709,Port-Gentil,GA,78.76,moderate rain,-0.7193,8.7815,Fengshui Residence
711,Alta Gracia,AR,75.88,clear sky,-31.6529,-64.4283,Hotel Ritz
712,Pisco,PE,64.45,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
714,Samana,DO,82.62,light rain,19.2056,-69.3369,The Bannister - Hotel & Yacht Club

In [31]:
# 8a. Create the output File (CSV)
output_data_file = "Weather_CSV/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [32]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<d1>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</d1>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))